* {
    box-sizing: border-box;
}

[hidden] {
    display: none !important;
}

html {
    margin: 0;
    padding: 0;
    border-left: 10px solid #270000;
    border-right: 10px solid #270000;
}

body {
    margin: 0;
    padding: 0;
    background: #000000;
}

.messages {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.username {
    padding-top: 10px;
    padding-bottom: 5px;
}

.message .text {
    font-size: 40px;
    line-height: 40px;
}

.endofmessage {
    padding-top: 5px;
    padding-bottom: 10px;
}

.terminal {
    background: #000000;
}

.terminal-wrapper {
    background-color: #270000;
    color: #FF0000;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    line-height: 16px;
    padding: 2px 20px 2px 5px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.terminal-header {
    top: 0;
}

.terminal-footer {
    bottom: 0;
}

.terminal-body {
    color: #00FF00;
    font-size: 12px;
    font-family: "Courier New", Courier, monospace;
    line-height: 12px;
}